{{!< default}}

{{#post}}
    <div class="gh-article-container {{post_class}}">
        <nav>
            <a class="pl-4 sm:pl-16 md:pl-0">
            <span class="icon -ml-3.5" id="back_icon">
                {{> "icons/arrow-left"}}
            </span>
            </a>
            <span class="pr-4 sm:pr-16 md:pr-0">{{> "theme-switch"}}</span>
        </nav>
        <div class="gh-article">
            <article>
                <header>
                    {{#primary_tag}}
                        <span class="gh-post-primary-tag">
                    {{#match slug 'programming'}} {{> "icons/programming"}} {{else}} {{> "icons/photography"}}
                    {{/match}}
                            <span>{{name}}</span>
                </span>
                    {{/primary_tag}}
                    <h1 class="gh-title">{{title}}</h1>
                    <span class="gh-post-meta mt-4 mb-6"><time datetime="{{date format="YYYY-MM-DD"}}">{{date
                        format="D MMM YYYY"}}</time> &minus; {{reading_time}}</span>

                    {{#if feature_image}}
                        <figure class="gh-feature-image">
                            <img
                                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                                sizes="(max-width: 1000px) 1000px, 2000px"
                                loading="lazy"
                                src="{{img_url feature_image size="xl"}}"
                                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                            />
                            {{#if feature_image_caption}}
                                <figcaption>{{feature_image_caption}}</figcaption>
                            {{/if}}
                        </figure>
                    {{/if}}
                </header>

                <div class="gh-post-content">
                    {{content}}
                </div>

                <footer class="gh-post-footer">
                    <hr class="mb-8"/>
                    <h2>Stay Updated: Share & Subscribe!</h2>
                    <div class="flex flex-row gap-x-2 mt-4">
                    <span class="group secondary-button" id="post-link-copy">
                        <span class="hide">
                            <svg class="fill-greenSet dark:fill-greenSet-dark" width="17" height="18" stroke="none"
                                 fill="none" stroke-width="0">
                                <circle cx="8.5" cy="9" r="8.333"/>
                                <g clip-path="url(#a)"><path fill="#fff"
                                                             d="M7.198 10.823 5.375 9l-.608.608 2.43 2.43 5.21-5.208-.608-.607-4.601 4.6Z"/></g>
                                <defs><clipPath id="a"><path fill="#fff"
                                                             d="M3.292 3.792h10.417V14.21H3.292z"/></clipPath></defs>
                            </svg>
                            Copied
                        </span>
                        <span>
                            <svg width="18" height="18" fill="none">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M7.333 9.834a4.165 4.165 0 0 0 6.284.45l2.5-2.5a4.167 4.167 0 0 0-5.892-5.892L8.792 3.317m1.875 4.85a4.167 4.167 0 0 0-6.284-.45l-2.5 2.5a4.166 4.166 0 0 0 5.892 5.892L9.2 14.684"/>
                            </svg>
                            Copy Link
                        </span>
                    </span>
                        <span class="group secondary-button">
                        <span>
                            <svg width="18" height="18" fill="none">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M12.038 14.013a2.5 2.5 0 1 1-4.83 1.294M.715 8.678a3.34 3.34 0 0 1 .877-3.271m7.531-1.622a2.083 2.083 0 1 0-2.892.775m9.703.04a3.34 3.34 0 0 0-2.395-2.394m.038 4.666c-.298-1.11-1.092-2.039-2.208-2.581-1.116-.542-2.463-.654-3.744-.31-1.28.342-2.39 1.112-3.086 2.14-.696 1.028-.92 2.229-.622 3.339.492 1.837.397 3.302.086 4.415-.354 1.27-.531 1.904-.483 2.031.054.146.094.186.24.242.126.05.66-.093 1.725-.379l9.888-2.65c1.066-.285 1.6-.428 1.685-.534.097-.121.112-.176.086-.33-.022-.134-.493-.595-1.434-1.517-.826-.808-1.641-2.03-2.133-3.866Z"/>
                            </svg>
                            Subscribe
                        </span>
                    </span>
                    </div>
                    <hr class="mt-8"/>
                </footer>
            </article>
            <aside class="gh-more-posts">
                {{#get "posts" filter="tags:[{{primary_tag.slug}}]+id:-{{id}}" limit="3"
                       include="tags" as |more_posts|}}

                    {{#if more_posts}}
                        <h2>Other Articles You Might Enjoy!</h2>
                        <div class="gh-post-feed">
                            {{#foreach more_posts}}
                                {{> "post-card"}}
                            {{/foreach}}
                        </div>
                    {{/if}}

                {{/get}}
            </aside>
        </div>
    </div>
    <script src="{{asset "built/post.js"}}"></script>
    {{#primary_tag}}
        <script>processImages(`{{slug}}`)</script>
    {{/primary_tag}}
{{/post}}
