{{!< default}}

{{#post}}

<div class="gh-article-container {{post_class}}">
    <span class="icon -ml-3.5">
        {{> "icons/arrow-left"}}
    </span>
    <div class="gh-article">
        <article>
            <header>
                {{#primary_tag}}
                    <span class="gh-post-primary-tag">
                    {{#match slug 'programming'}} {{> "icons/programming"}} {{else}} {{> "icons/photography"}}
                    {{/match}}
                        <span>{{name}}</span>
                </span>
                {{/primary_tag}}
                <h1 class="gh-title">{{title}}</h1>
                <span class="gh-post-meta mt-4 mb-6"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> &minus; {{reading_time}}</span>

                {{#if feature_image}}
                    <figure class="gh-feature-image">
                        <img
                            srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                            sizes="(max-width: 1000px) 1000px, 2000px"
                            loading="lazy"
                            src="{{img_url feature_image size="xl"}}"
                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                        />
                        {{#if feature_image_caption}}
                            <figcaption>{{feature_image_caption}}</figcaption>
                        {{/if}}
                    </figure>
                {{/if}}
            </header>

            <div class="gh-post-content">
                {{content}}
            </div>

            <footer>

            </footer>
        </article>
        <aside class="gh-more-posts">
            {{#get "posts" filter="tags:[{{primary_tag.slug}}]+id:-{{id}}" limit="3" include="tags" as |more_posts|}}

                {{#if more_posts}}
                    <h2>Other Articles You Might Enjoy</h2>
                    <div class="gh-postfeed">
                        {{#foreach more_posts}}
                            {{> "post-card"}}
                        {{/foreach}}
                    </div>
                {{/if}}

            {{/get}}
        </aside>
    </div>
    {{> "theme-switch"}}
</div>

{{/post}}
